// Colour
$color-primary: #8aac89;
$color-primary-light: #e8eae1;
$color-primary-dark: #5d735b;

$color-secondary: #f7cf86;
$color-secondary-light: #fef6ed;
$color-secondary-dark: #a08557;

$color-tertiary: #d8a574;
$color-tertiary-light: #f6ece3;
$color-tertiary-dark: #967451;

$color-danger: #cc0000;
$color-warning: #dd820a;
$color-success: #50b04d;

$color-white: #ffffff;
$color-grey-light: #f1f4f5;
$color-grey: #bbcbcf;
$color-grey-dark: #75807f;
$color-black: #262626;

// Font
$default-font-family: "Proxima Nova", sans-serif;
$default-font-family-heading: "Averta Demo PE Cutted Demo", sans-serif;
$default-font-family-paragraph: "Proxima Nova", sans-serif;
$default-font-size: 1.6rem;
$default-font-color: $color-grey-dark;
