.TextBlock {
  display: flex;
  flex-direction: column;
  min-height: 36rem;
  width: 100%;

  &__block {
    height: 100%;
    background-color: $color-primary;
    color: $color-white;
    padding: 4rem;
  }

  &__title {
    color: $color-secondary;
  }

  &__text {
  }
}
